/* global rules  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Anta", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: orange;
    --top-bottom-padding: 50px;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* small  */
@media (min-width: 768px) {
    .container {
        width: 750px;
        margin-left: auto;
        margin-right: auto;
    }

    .header .links .toglle {
        display: none;
    }

}

/* medium  */
@media (min-width: 992px) {
    .container {
        width: 970px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* global rules  */
/* start components  */
.main-head {
    text-align: center;
    color: white;
    margin: 50px 0;
}

.main-head h1 {
    font-size: 50px;
    margin-top: 10px;
}

/* end components  */
/* --------start header---------- */
.header {
    position: fixed;
    left: 0;
    width: 100%;
    top: 10px;
    z-index: 1000000;
    padding: 3px;
}

.header .container {
    background-color: #00000052;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    padding: 5px;
    min-height: 109px;
}

.header .container .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-transform: uppercase;
}

.header .container .logo img {
    width: 50px;
}

.header .container .links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.header .container .links .toglle {
    color: white;
    font-size: 22px;
    transition: 0.3s;
}


.header .container .links ul {
    display: flex;
}

.header .container .links ul li a {
    display: block;
    padding: 40px 10px;
    color: white;
    transition: 0.3s;
    text-transform: capitalize;
}

.header .container .links ul li a.active,
.header .container .links ul li a:hover {
    color: var(--main-color);
}

.header .container .links .form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 20px;
    height: 40px;
    background-color: #ff000000;
    color: white;
    transition: 0.3s;
}

.header .container .links .form:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

.header .container .links .form i {
    margin-left: 10px;
}

/* ---------end header------------ */
/* start landing page  */
.landing-page {
    background-image: url(../images/young-female-barista-wear-face-mask-serving-take-away-hot-coffee-paper-cup-consumer-cafe.jpg);
    background-image: url(../images/young-female-barista-wear-face-mask-serving-take-away-hot-coffee-paper-cup-consumer-cafe.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.landing-page .container {}

.landing-page .container .land {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 10px;
    padding: 10px;

}

.landing-page .container .land .cont {
    text-align: center;
    position: relative;
    height: 12em;
    width: 18em;
}

.landing-page .container .land .cont::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    z-index: -111;
    top: 0;
    left: 0;
    transform: rotate(-45deg);
    border-radius: 10px;

}

.landing-page .container .land .cont p:first-of-type {
    color: var(--main-color);
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.landing-page .container .land .cont p:last-of-type {
    margin-bottom: 20px;
    font-style: italic;
}

.landing-page .container .land .cont h1 {
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 50px;
    margin-bottom: 10px
}

.landing-page .container .land .cont a {
    display: inline-block;
    background-color: var(--main-color);
    padding: 10px 20px;
    color: white;
    transition: 0.3s;
    border-radius: 20px;
}

.landing-page .container .land .cont a:first-of-type {
    background-color: transparent;
}

.landing-page .container .land .cont a:first-of-type:hover {
    background-color: white;
    color: var(--main-color)
}

.landing-page .container .land .cont a:last-of-type:hover {
    background-color: transparent;
    color: var(--main-color)
}

/* end landing page  */
/* start kl  */
.kl {
    padding: var(--top-bottom-padding) 10px;
    background-color: #97450e;
    min-height: 500px;
}

.kl .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kl .container .video {
    flex-basis: 40%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.kl .container .video::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #df5d01, transparent);
    z-index: 1111;
    top: 0;
    left: 0px;
    border-radius: inherit;
}

.kl .container .video video {
    width: 100%;
    border-radius: 30px;


}

.kl .container .video h3 {
    position: absolute;
    bottom: -200px;
    z-index: 333333;
    left: 30px;
    padding: 10px;
    font-size: 25px;
    letter-spacing: 2px;
    color: white;
    text-transform: capitalize;
    transition: 0.3s;

}

.kl .container .video:hover h3 {
    bottom: 45px
}

.kl .container .video i {
    position: absolute;
    right: 30px;
    bottom: 45px;
    color: white;
    z-index: 444444;
    font-size: 50px;
    transition: 0.3s;
    animation-name: arr;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.kl .container .video:hover i {
    animation-play-state: paused;

}

@keyframes arr {
    from {
        right: 25px;
    }

    to {
        right: 45px;
    }



}

.kl .container .text {
    width: 45%;
    width: 45%;
    color: white;
}

.kl .container .text span {
    font-size: 14px;
    color: #b9b9b9;
    margin-bottom: 20px;
    display: block;
}

.kl .container .text h2 {
    font-size: 50px;
    margin-bottom: 15px;
}

.kl .container .text p {
    line-height: 1.3;
}

.kl .container .text p:first-of-type {
    margin-bottom: 35px;
}

.kl .container .text p:not(:first-of-type) span {
    display: inline-block;
    font-size: 18px;
    color: var(--main-color);
}

.kl .container .text button {
    width: 10em;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    color: var(--main-color);
    font-size: 16px;
    transition: 0.3s;
}

.kl .container .text button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

/* end kl  */
/* start sec3  */
.sec3 {
    background-color: #b78752;
    padding: var(--top-bottom-padding) 10px;
}

.sec3 .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.sec3 .container .content .box {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.sec3 .container .content .box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, #df5d01, transparent);
    z-index: 74646;
}

.sec3 .container .content .box img {
    width: 100%;
    border-radius: inherit;
    transition: 0.3s;
}

.sec3 .container .content .box:hover {
    transform: translateZ(20px);
}

.sec3 .container .content .box:hover img {
    transform: rotate(5deg) scale(1.1)
}

.sec3 .container .content .box .text {
    color: white;
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 64646774;
}

.sec3 .container .content .box .text h3,
.sec3 .container .content .box .text span {
    display: inline-block;
}

.sec3 .container .content .box .text span {
    position: relative;
    right: -100px;
    background-color: #634027;
    width: 5em;
    text-align: center;
    padding: 4px 6px;
    border-radius: 4px;
}

.sec3 .container .content .box .text span::before {
    content: '';
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-color: #ff000000 #634027 #00800000 transparent;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);

}

.sec3 .container .content .box .text p {
    margin-top: 20px;
}

/* end sec3  */
/* start sec4  */
.sec4 {
    padding: var(--top-bottom-padding) 10px;
    background-image: url(../images/happy-waitress-giving-coffee-customers-while-serving-them-coffee-shop.jpg);
    background-size: cover;
}

.sec4 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.sec4 .container .box {
    flex-basis: 45%;
    color: white;
    background-color: #00000091;
    padding: 25px;
    border-radius: 20px;
    transition: 0.3s;
}

.sec4 .container .box:hover {
    box-shadow: 0px 0px 18px white;
}

.sec4 .container .box .head {
    text-align: center;
    margin-bottom: 30px;
}

.sec4 .container .box .head h3 {
    font-size: 30px;
    margin-top: 6px;
}

.sec4 .container .box .content {
    margin-bottom: 20px;
}

.sec4 .container .box .content .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #777;
}

.sec4 .container .box .content .cont span.sp2 {
    margin-left: auto;
    margin-right: 15px;
    color: white;
    text-decoration: line-through;
}

.sec4 .container .box .content .cont span {
    color: var(--main-color);
}

.sec4 .container .box .content p {
    padding-top: 5px;
    color: #777;
}

/* end sec4  */
/* start sec5  */
.sec5 {
    min-height: 600px;
    background-color: #ab6b34;
    padding: var(--top-bottom-padding) 10px;
}

.sec5 .container .head {}

.sec5 .cards {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    justify-content: center;
}

.sec5 .cards .card-left {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.sec5 .cards .card-left .car1 {
    width: 20em;
    border: 4px solid white;
    border-radius: 20px;
    position: relative;


}

.sec5 .cards .card-left .car1::before {
    content: '';
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: #ff000000 #00800000 #0000ff00 white;
    right: -24px;
    top: 15px;
}

.sec5 .cards .card-left .car1::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    right: -36px;
    top: 21px;
    border-radius: 50%;
}

.sec5 .cards .card-left .ca2 {
    transform: translateY(70px);
}

.sec5 .cards .card-left .ca2::before {
    content: '';
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: #ff000000 #00800000 #0000ff00 white;
    right: -24px;
    top: 26px;
}

.sec5 .cards .card-left .ca2::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    right: -36px;
    top: 30px;
    border-radius: 50%;
}

.sec5 .cards .part2 .ca3::before {
    content: '';
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: #ff000000 #ffffff #0000ff00 #ffffff00;
    right: 101%;
    top: 96px;
}

.sec5 .cards .part2 .car1::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    left: -36px;
    top: 100px;
    border-radius: 50%;
}

.sec5 .cards .card-left .car1 .info {
    display: flex;
    align-items: center;
    gap: 1em;
    background-image: url(../images/mid-section-waitress-wiping-espresso-machine-with-napkin-cafa-c.jpg);
    height: 7em;
    background-size: cover;
    color: white;
    padding: 10px 20px;
    background-position: center;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}

.sec5 .cards .card-left .car1 .info img {
    width: 6em;
    border-radius: 50px
}

.sec5 .cards .card-left .car1 .info .text h4 {
    font-size: 20px;
}

.sec5 .cards .card-left .car1 .info .text p {
    font-size: 14px
}

.sec5 .cards .card-left .car1 .in2 {
    padding: 15px;
    background-color: #ff8100;
    color: white;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sec5 .cards .card-left .car1 .in2 p {
    font-size: 14px;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
}

.sec5 .cards .card-left .car1 .in2 .rate {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    text-transform: capitalize;
}

.sec5 .cards .card-left .car1 .in2 .rate span {
    font-size: 13px;
    margin-right: 15px;
}

.sec5 .border {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    justify-content: center;
    gap: 15px;
}

.sec5 .border span {
    display: block;
    width: 3px;
    height: 10px;
    background-color: white;
    transform: translateY(13px);
}

.sec5 .border span.bor2 {
    height: 10em;
}

.sec5 .border span.bor3 {
    height: 10em;
}

.sec5 .border span.bor4 {
    height: 14em;
}

.sec5 .cards .card-left:last-of-type {
    display: flex;
    justify-content: center;
    transform: translateY(-25px);
}

/* end sec5  */
/* start sec6  */
.sec6 {
    background-image: linear-gradient(0deg, #f57100, transparent), url(../images/young-female-barista-wear-face-mask-serving-take-away-hot-coffee-paper-cup-consumer-cafe.jpg);
    background-size: cover;
    padding: var(--top-bottom-padding) 10px;
}

.sec6 .container .main-head {
    text-align: left;
}

.sec6 .container .main-head h1 {
    font-size: 40px;
    margin-top: 0px;
}

.sec6 .container .cont {
    display: flex;
    justify-content: space-between
}

.sec6 .container .cont form {
    flex-basis: 45%;
}

.sec6 .container .cont form .inps {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec6 .container .cont form .inp:first-of-type {
    margin-right: 10px;
}

.sec6 .container .cont form .inp:first-of-type label::after {
    content: "*";
    color: red;
    position: relative;
    top: -10px;
    left: 2px;

}

.sec6 .container .cont form .te-area {
    display: block;
    display: block;
    margin-top: 25px;
}

.sec6 .container .cont form .te-area textarea {
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

.sec6 .container .cont form .inp label,
.sec6 .container .cont form .inp input {
    display: block;
}

.sec6 .container .cont form .inp label {
    color: white;
    margin-bottom: 10px;
}

.sec6 .container .cont form .inp input {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    height: 3em;
    border-radius: 10px;
    padding: 10px;
    caret-color: orange;
    transition: 0.3s;
}

::placeholder {
    color: white;
}

.sec6 .container .cont form .inp input:hover {
    background-color: orange;
}

.sec6 .container .cont form input[type="submit"] {
    background-color: orange;
    color: white;
    width: 11em;
    text-align: center;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    display: block;
    margin: 20px auto 0;
    transition: 0.3s;
}

.sec6 .container .cont form input[type="submit"]:hover {
    background-color: #fff;
    color: orange;
}

.sec6 .container .cont iframe {
    width: 45%;
    height: 14em;
    border-radius: 20px;
    display: block;
}

.sec6 .container .footer {
    margin-top: 5em;
}

.sec6 .container .footer .content {
    display: flex;
    justify-content: center;
    gap: 20px
}

.sec6 .container .footer .content .box {
    color: white;
    flex: 1;
}

.sec6 .container .footer .content .box p {
    font-size: 14px;
    color: #d7d7d7;
    margin-bottom: 20px;
}

.sec6 .container .footer .content .box:first-child i {
    margin-right: 10px;
}

.sec6 .container .footer .content .box:first-child .social {
    margin-top: 20px;
    display: flex;
}

.sec6 .container .footer .content .box:first-child .social i {
    transition: 0.3s;
    background-color: #ff000000;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0px;
}

.sec6 .container .footer .content .box:first-child .social i:hover {
    color: orange;
    background-color: white;
}

.sec6 .container .footer .content .box:nth-child(2) span,
.sec6 .container .footer .content .box:last-child span {
    color: #bfbfbf;
    font-size: 14px
}

.sec6 .container .footer p:last-child,
.sec6 .container .footer p:nth-last-child(2) {
    margin-top: 10px;
    color: white;

}

.sec6 .container .footer p:nth-last-child(2) {
    margin-top: 30px
}

.sec6 .container .footer p:nth-last-child(2) span {
    color: orange;
    cursor: pointer;

}

/* end sec6  */